/*----------colors-----------*/

body, .card {
  background-color: #f9f2e8;
  border: none;
}
.cont {
  margin-left: 15px;
  margin-right: 15px;
}
.orange {
  background-color: #f8ceb7;
}
.green {
  background-color: #cfdccd;
}

.brown {
  background-color: #c9bcb2;
}


/*----------typography-----------*/
p{
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  line-height: 175%;
  font-size: .9em;
}

h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-family: gastromond, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-family: gastromond, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
}

.navbar-brand{
  font-size: 1.75em;
  font-family: gastromond, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.navbar .nav-brand .navbar-nav {
    text-align: center;
}

.pads {
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar-brand {
  padding-right:100px;
}

/*----------mission styles-----------*/

#cover {
  background-image: url('img/cover-bulk-foods-01.jpg');
  height: 447px;
  background-size: cover;
  position: center;
}

#mission-p {
  padding-bottom: 0px;
}

#mission {
  padding-left: auto;
  padding-top: 5%;
  padding-bottom: 15%;
}


/*----------location bar styles-----------*/

#title-margin {
  margin-bottom: 0px;
}
#loc-title{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;

}
.sm-line {
    line-height: 125%;
}

.loc-pad-color {
color: white;
padding-top: 30px;
padding-bottom: 30px;

}

.par {
  display: flex;
  justify-content: space-between;

}

.f-left {
  float: left;
}

.arrow-padding{
  padding-top: 10px;
  padding-right: 10%;
}

.inlineblock{
  display: inline-block;
}



/*---------- weekly sale div styles-----------*/

#sale-cover {
background: url('img/store-front.jpg') no-repeat center center;
background-size: cover;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}

#sale {
  text-align: center;
  background-color: white;
  height: 50%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}


/*---------- food products -----------*/

.food-row{
  padding-top: 40px;
}
.block-pads {
  padding-top: 10%;
}

#products {
  padding-bottom: 10%;
}

/*---------- shop bags -----------*/


#shop-bag {
}

#shop-bag h1 {
  padding-top: 0px;
  padding-bottom: 0px;
}


/*---------- food storage -----------*/


#store {
background: url('img/inside-store.jpg') no-repeat center center;
background-size: cover;
height: 250px;
}

#read {
  padding-top: 30px;
  padding-bottom: 30px;
}

#read h4 {
  padding-top: 10%;
}




/*---------- plasic free -----------*/

 #plastic-free {
   color: white;
   padding-top: 30px;
 }

 #plastic-free h1 {
   padding-bottom: 0px;
 }
 #plastic-free h4 {
   font-weight: bold;
   padding-top: 15%;
 }
.space {
   padding-top: 50px;

 }
#less {
  padding-bottom: 60px;
}

/*---------- recipies -----------*/

.bckgn-white {
  background-color: white;
  height: 100px;
  padding-left: 10px;
}

#recipe-last {
    padding-bottom: 80px;
}



/*media queries */

@media (min-width: 992px) {
    #mission {
      padding: 20%;
    }
    p{
      font-size: .9em;
    }

    h1 {
      font-size: 1.75em;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.25em;
    }

    h4 {
          font-size: 1em;
    }


}


@media (min-width: 768px) {
    .block-pad-mobile {
      padding-top: 0%;
      }

      #tricks {
        padding-right: 30%;
      }
    }



/*---------- food products -----------*/
